.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    text-align: left;
  }

  .about-us-description {
    font-size: 1.5rem; /* Adjust the size as per your requirement */
    color: white; /* Make text white */
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .email-link {
    font-size: 1.8rem; /* Make the email address slightly larger */
    color: #4e73df; /* A nice blue color for the email link */
    text-decoration: none; /* Remove underline */
  }
  
  .email-link:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  
  .team-photo img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  .about-section {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 40px;
  }
  
  .about-section h2 {
    font-size: 2rem;
    color: #e6e4e5;
    margin-bottom: 10px;
  }
  
  .about-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #b6aeb3;
  }

  .about-section ul{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #b6aeb3;
    padding: 20px;
  }
  