.event__img img{
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 12rem;
}

.card{
    border: none !important;
    box-shadow: rgba(238, 225, 225, 0.2) 2px 0px 4px 2px;
    background-color: rgb(29, 29, 29) !important; /* background color is black */
}

.event__img{
    position: relative;
    background-color: var(--black)0 !important; 
}
.event__img span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 10;
    background: var(--secondary-color);
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 3px 0 0 0;
}

.card__top span i{
    color: var(--secondary-color);
}


.event__datetime {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
.event__date,
.event__time {
    font-size: 0.7rem;
    color: var(--text-color);
    font-weight: 200;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
  
.event__date i,
.event__time i {
    color:#fff ;
    font-size: 0.9rem;
}
  

.event__location{
    color: var(--heading-color);
    font-weight: 200;
    font-size: .7rem;

    
}
.event__location i{
    color:#fff ;
    font-size: 0.9rem;
    padding-right: 0.3rem;

}

.event__date
{
    font-size: 0.7rem;
}

.event__title{
    margin-top: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
   
}

.event__title a{
    text-decoration: none;
    color: var(--heading-color);
    transition: .3s;
}

.event__title a:hover {
    color: var(--secondary-color);
}


.card__bottom h5{
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 700;
}

.card__bottom h5 span{
    font-weight: 500;
    color: darkgray;
    font-size: 0.7rem;
}


.booking__btn {
    background: var(--secondary-color) !important ;
    cursor: pointer;
    padding: 0.2rem 0.5rem !important;
    height: 2rem;
    width: 5rem;
  

}

.booking__btn a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
}

.booking__btn a:hover{
    color: #000000;
}
